include LICENSE
include README.md
include pyproject.toml
include requirements.txt
include CHANGELOG.md
include run_tests.bat

# Include internal data
recursive-include pymkm/data *.txt
recursive-include pymkm/data *.json

# Include only in source distribution (sdist)
recursive-include examples *
recursive-include validation_results *
recursive-include tests *

# Prune dev/cache/build dirs
prune .pytest_cache
prune .spyproject
prune dist

# Exclude dev scripts and leftover files
global-exclude *.sh
global-exclude *.bat
global-exclude sync_dependencies_grep.py
