include README.md
include requirements.txt
include pyproject.toml
include LICENSE
include run_tests.bat

recursive-include pymkm/data *.txt
recursive-include pymkm/data *.json

# Include only in the source distribution (not in the wheel or pip install)
recursive-include examples *
recursive-include validation_results *
recursive-include tests *

# Exclude development cache folders
exclude .coverage
exclude .pytest_cache/*
exclude .spyproject/*